/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .main{
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
  }

  .box{
    border: 1px solid black;
  }

  header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .brand{
    width: 30%;
    height: 100px;
    border: 1px solid black;
    flex-shrink: 2;
    text-align: center;
    align-content: center;
  }

  nav{
    width: 40%;
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    border: 1px solid black;
  }

  i{
    margin: 0;
    padding: 0;
  }

  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }

  .btn{
    width: 20%;
    text-align: right;
    flex-shrink: 1;
    border: 1px solid black;
  }

  button{
    padding: 5px 25px;
  }

  section{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas:
    "box1 box2"
    "box1 box3";
    grid-template-columns: 1r 1fr;
    grid-template-rows: 700px 700px;
    
  }

  footer{
    width: 100%;
    height: 300px;
    background-color: bisque;
  }

  .box1{
    grid-area: box1;
    background-color: blue;
    
  }
  .box2{
    grid-area: box2;
    background-color: rebeccapurple;
  }
  .box3{
    grid-area: box3;
    background-color: green;
  }

  .subcontent{
    text-align: center;
    color: white;
    font-size: 30px;
    align-content: center;
  }

  .foot{
    width: 350px;
    height: 90%;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    font-size: 30px;
    background-color: cadetblue;
  }

  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  @media (min-width:380px) and (max-width:580px){
    .main{
        width: 100%;
    }
    header{
        width: 100%;
        flex-direction: column;
    }
    .brand{
        width: 100%;
    }
    nav{
        width: 100%;
        height: 70px;
    }
    nav a{
        font-size: 12px;
    }
    .btn{
        width: 100%;
        text-align: center;
    }
    button{
        padding: 10px 50px;
    }

    section{
        grid-template-areas: 
        "box1"
        "box2"
        "box3";
        grid-template-columns: 1r;
        grid-template-rows: 400px 300px 250px;
    }

    .box1{
        grid-area: box1;
    }
    footer{
        flex-direction: column;
    }
  }

  @media (min-width:581px) and (max-width:880px){
    .main{
        width: 100%;
    }
    header{
        width: 100%;
        flex-direction: column;
    }
    .brand{
        width: 100%;
    }
    nav{
        width: 100%;
        height: 70px;
    }
    nav a{
        font-size: 18px;
    }
    .btn{
        width: 100%;
        text-align: center;
    }
    button{
        padding: 10px 50px;
    }
    section{
        grid-template-areas: 
        "box1"
        "box2"
        "box3";
        grid-template-columns: 1r;
        grid-template-rows: 400px 300px 250px;
    }
    footer{
        flex-direction: column;
    }
  }

  @media (min-width:881px) and (max-width:1180px){
    .main{
       
    }
    header{
        width: 100%;
        justify-content: space-evenly;
    }
    .brand{
        margin: 0;
        padding: 0;
        width: 150px;
    }
    nav{
        width: 480px;
        height: 70px;
    }
    nav a{
        font-size: 15px;
    }
    .btn{
        
        text-align: center;
    }
    button{
        padding: 10px 50px;
    }
    footer{
        flex-direction: column;
    }
  }